<div class="container-fluid" id="loader">
    <div class="row justify-content-center align-items-center">
        <img class="rounded-circle m-0" src="{{ asset('img/loader.gif') }}" width="150px">
    </div>

</div>